@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
}


body {
    font-family: 'Work Sans', sans-serif;
}

.darker {
    filter: brightness(50%);
}

/* .container {
    padding: 2rem;
} */

.hero-page {
    background-image: url("https://beirutdigitaldistrict.com/img/slider/slide7.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: #fff;
    position: relative;
    height: 100vh;
}

.hero-page:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.3);
}

.hero-page .nav-bar {
    position: relative;
    text-transform: uppercase;

}


.logo-img {
    width: 4vw;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    /* background-color: #000000; */
    padding: 1rem 6.5rem;
}

.nav-bar-list {
    display: flex;
    list-style: none;
}

.nav-bar-list li {
    margin: 2rem 1.2rem;

}

.nav-bar-list li:last-child {
    margin-right: 0;

}

.nav-bar-list li a {
    text-decoration: none;
    color: white;
    font-size: 16px;
}

.btn {
    background-color: #0078be;
    color: white;
    border-radius: 50px;
    padding: 1vh 2vh;
    text-decoration: none;
}

.btn {
    cursor: pointer;
}

.hero-page:after {
    content: "A unique cluster of innovation designed for the digital & creative community";
    display: flex;
    width: 50%;
    position: absolute;
    top: 40%;
    left: 25%;
    font-size: 5vh;
    font-weight: 700;
    line-height: 60px;
    text-align: center;
    text-transform: uppercase;

}

.container-1 {
    background-color: #f5f5f5;
}

.bdd-is-built {
    text-align: center;
    margin: 2rem 0;
    font-size: 24px;
    text-transform: uppercase;

}

.bdd-is-built-border {
    flex-grow: 1;
    margin: 1rem;
    padding: 2rem 0.5rem 3rem 0.5;
    width: 240px;
    height: 400px;
    text-align: center;
    background-color: white;
    border-radius: 5px;
}

.bdd-is-built-border:nth-child(1):hover {
    background-color: #dce8ef;
}

.bdd-is-built-border:nth-child(2):hover {
    background-color: #dcebec;
}

.bdd-is-built-border:nth-child(3):hover {
    background-color: #dce9e1;
}

.bdd-is-built-border:nth-child(4):hover {
    background-color: #ecefdc;
}

.bdd-is-built-border:nth-child(5):hover {
    background-color: #f6e2e7;
}

.bdd-is-built-icon {
    width: 90px;
    height: 90px;
    margin: 1rem 0;
}

.bdd-is-built-text {
    font-size: 16px;
    text-transform: uppercase;
}

.bdd-is-built-text {
    text-transform: capitalize;
    margin: 1rem;
    font-size: 16px;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.img-bg-explore-the-vision {
    background-image: url("https://beirutdigitaldistrict.com/img/parallax-4.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    height: 65vh;
    color: #fff;
}

.img-bg-explore-the-vision h3 {
    font-size: 32px;
    text-align: center;
    padding: 2rem 0;
}

.video {
    display: flex;
    justify-content: center;
}


.join-bdd-h3 {
    text-transform: uppercase;
    color: black;
    text-align: center;
    font-size: 32px;
    padding: 2rem 0;
}

.join-bdd-img {
    width: 25vw;
}

.join-bdd-cards {
    width: 75vw;
}

.join-bdd-card {
    margin: 0 1rem;
    background-color: #f8f8f8;
    box-shadow: 2px 2px 2px white;
    width: 22%;
    padding: 2.5rem 2rem;
}

.join-bdd-card-h5 {
    margin: 1rem;
    text-align: start;
    font-size: 20px;
    text-transform: uppercase;
}

.join-bdd-card-list {
    padding: 0 0.8rem;
}


.join-bdd-card-list li {
    list-style: none;
    margin: 1.5rem 0;
}

.join-bdd-btn {
    padding: 0.7rem 2rem;
}

.download {
    justify-content: end;
    display: flex;
    margin: 3rem 1rem;
    color: #646464;
}

.download-bold-flex {
    justify-content: flex-end;
    display: flex;
}

.download-img {
    width: 180px;
    margin: 1rem 0;
}

.bdd-is-the-preferred-bg {
    background-image: url("https://beirutdigitaldistrict.com/img/parallax-light.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 2rem 0 7rem 0;
}

.bdd-is-the-preferred-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.bdd-is-the-preferred-h3 {
    text-align: center;
    padding: 2rem;
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 900;
}

.bdd-is-the-preferred-border {
    text-align: center;
    width: 300px;
}

.bdd-is-the-preferred-icon {
    width: 100px;
}

.bdd-is-the-preferred-number {
    font-size: 42px;
    margin: 0.8rem 0;
}

.bdd-is-the-preferred-h6 {
    font-size: 16px;
    text-transform: uppercase;
}

.Whats-trending {
    background-color: #f5f5f5;
    padding-bottom: 0.5rem;
}

.Whats-trending-h3 {
    text-align: center;
    padding: 3rem 0;
}

.Whats-trending-flex {
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
}

.Whats-trending-card {
    background-color: white;
    margin: 1rem 4rem;
}

.Whats-trending-img {
    width: 300px;
}

a {
    text-decoration: none;
}

.Whats-trending-h5 {
    color: black;
    font-size: 16px;
    font-weight: bold;
    padding: 2rem;

    /* padding: 2rem 1rem; */
}

.container-3 {
    border-top: 1px solid rgba(0, 0, 0, 0.3);
    text-align: start;
    padding: 1.5rem;
}

.Whats-trending-btn {
    padding: 0.8rem 2rem;
    margin: 3rem 0;
    text-align: center;
}

.a-few-words-from-our-community-flex {
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: center;
}


.a-few-words-from-our-community-h3 {
    font-size: 32px;
}

.a-few-words-from-our-community-img {
    border: 1px solid black;
    padding: 1rem;
    margin: 1rem 3rem;
    width: 120px;
}

.footer {
    background-color: black;
    color: white;
}










/* MEDIA QUERY */
/* /////////////////// */

@media (max-width: 1200px) {
    .nav-bar-list {
        display: none;
    }

    .hero-page:after {
        font-size: 5vh;
        width: 80%;
        top: 35%;
        left: 10%;
    }

    .iframe-yt {
        width: 500px;
    }
}

@media (max-width: 1400px) {
    .join-bdd {
        display: none;
    }
}